<div class="ssc-number-prompt-body">
   <label>{{label}}</label>
   <input type="number" name="value" value="{{value}}" min="{{min}}" step="{{step}}" autofocus>
   <footer>
      <button type="submit" data-ok>OK</button>
      <button type="button" data-cancel>Cancel</button>
   </footer>
</div>
