{{#if counteract}}
   <section class="atw-card-consequences ssc-templar-card-counteract">
      <p class="atw-inline-message">
         <strong>{{label}}:</strong> {{counteract.result}}{{#if counteract.rankText}} {{counteract.rankText}}{{/if}}
      </p>
   </section>
{{/if}}
