{{#each buttons}}
   <button type="button" class="{{className}}" data-ssc-templar-card-action="apply-damage" data-multiplier="{{multiplier}}">
      {{{iconHtml}}}<span class="label">{{label}}</span>
   </button>
{{/each}}
