{{#if hasContent}}
   <div class="ssc-templar-card-outcome-note">
      {{note}}
      {{#if appliedText}}
         <div class="ssc-templar-card-applied-effects">{{appliedText}}</div>
      {{/if}}
   </div>
{{/if}}
