<div class="ssc-templar-card-empty ssc-templar-card-pending-target">
   <p>{{prompt}}</p>
   <a class="content-link atw-mtcard-roll-save"
      data-ssc-templar-card-action="capture-target-save"
      data-statistic="reflex"
      data-dc="{{dc}}">
      <i class="fa-solid fa-dice-d20"></i>
      {{saveLabel}}
   </a>
</div>
